<div
  class="content"
  fxLayout="column"
  fxLayoutGap="10px"
  fxLayoutAlign="space-evenly none"
>
  <!-- Editor Part  -->
  <div class="editor">
    <div fxLayout="column" fxFill fxLayoutGap="15px">
      <div><h1 style="margin: 0px">SQL Statement</h1></div>
      <textarea
        id="searchquery"
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        cdkAutosizeMinRows="2"
        cdkAutosizeMaxRows="2"
        value="{{ query }}"
        placeholder="Try 'Select * from Categories'"
      ></textarea>
      <div>
        <button
          (click)="searchQuery()"
          matTooltip="Try 'Select&nbsp;&nbsp;*&nbsp;&nbsp;from&nbsp;&nbsp;Categories'"
          matTooltipPosition="right"
          mat-raised-button
        >
          Run SQL
        </button>
      </div>
    </div>
  </div>

  <!-- Result Part  -->
  <div class="Result">
    <div *ngIf="data == ''" fxLayout="column" fxFill>
      <mat-form-field style="margin: 0px">
        <textarea
          matInput
          cdkTextareaAutosize
          #autosize="cdkTextareaAutosize"
          cdkAutosizeMinRows="15"
          cdkAutosizeMaxRows="15"
          disabled
          value="Query results appear here."
        ></textarea>
      </mat-form-field>
    </div>

    <div
      *ngIf="data != ''"
      style="
        overflow-y: scroll;
        height: 360px;
        flex: 1;
        overflow-x: scroll;
        background-color: white;
      "
    >
      <table *ngIf="data != ''" border="" style="background-color: white">
        <thead>
          <tr>
            <th
              *ngFor="let header of headers"
              style="
                position: sticky;
                top: 0;
                background: white;
              "
            >
              {{ header }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of rows">
            <td *ngFor="let item of record">
              {{ item }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
