<p>
  <mat-toolbar color="primary">
    <span>SQL EDITOR</span>
  </mat-toolbar>
</p>

<mat-card class="cardStyle" style="height: 80%">
  <mat-drawer-container class="example-container">
    <mat-drawer mode="side" opened style="width: 17%"
      ><h1>Database</h1>
      <mat-list role="list">
        <div *ngFor="let table of tables">
          <mat-list-item style="cursor: pointer;" role="listitem" (click)="tableSelected(table)">{{
            table
          }}</mat-list-item>
        </div>
      </mat-list>
    </mat-drawer>
    <mat-drawer-content
      ><app-content [data]=data></app-content></mat-drawer-content>
  </mat-drawer-container>
</mat-card>
